<header class="p-3 align-items-center px-md-4 border-bottom shadow-sm">
  <nav class="navbar navbar-light p-0">
    <div
      class="container-fluid justify-content-center justify-content-sm-around p-0"
    >
      <a
        class="navbar-brand p-0"
        routerLink="{{ !logado ? '/home' : '/signedIn/home' }}"
        routerLinkActive="active"
      >
        <img
          src="{{ !logado ? 'assets/img/logo.png' : 'assets/img/logo.png' }}"
          class="img-fluid"
          width="150px"
          alt="Banco Carcará"
        />
      </a>

      <ul class="navbar-nav d-flex flex-row me-auto mb-2 mt-2">
        <li class="nav-item">
          <a
            class="nav-link p-2 mr-md-4"
            aria-current="page"
            routerLink="{{ !logado ? '/home' : '/signedIn/home' }}"
            routerLinkActive="active"
            >Home</a
          >
        </li>
        <li *ngIf="logado" class="nav-item">
          <a
            class="nav-link p-2 mr-md-4"
            routerLink="/signedIn/plano-conta"
            routerLinkActive="active"
            >Plano Conta</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link p-2 mr-md-4"
            routerLink="{{ !logado ? '/signUp' : '/signedIn/dashboard' }}"
            routerLinkActive="active"
            >{{ !logado ? "Abrir Conta" : "Dashboard" }}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link p-2 mr-md-4"
            routerLink="/login"
            (click)="logado ? logout() : null"
            routerLinkActive="active"
            >{{ !logado ? "Entrar" : "Sair" }}</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
