.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    
    h2 {
        font-weight: 900;
    }

    .btn{

        p {
            inline-size: max-content;
        }

        i {
            font-size: 24px;
        }
    }

}

.modal-custom-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}