<table class="table table-striped">
  <thead>
    <tr>
      <th>Plano de Conta</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr *ngFor="let planoconta of planosconta">
          <td>{{ planoconta.name }}</td>
          <td>
              <a [routerLink]="['/courses/info', course.id]" class="btn btn-primary mr-2">Edit</a>
              <button (click)="deleteById(course.id)" class="btn btn-danger">Delete</button>
          </td>
      </tr> -->
    <tr>
      <td>Plano Conta 1</td>
      <td>
        <a class="btn btn-primary mr-2">Editar</a>
        <button class="btn btn-danger">Deletar</button>
      </td>
    </tr>
    <tr>

      <td>Plano Conta 2</td>
      <td>
        <a class="btn btn-primary mr-2">Editar</a>
        <button class="btn btn-danger">Deletar</button>
      </td>
    </tr>
    <tr>

      <td>Plano Conta 3</td>
      <td>
        <a class="btn btn-primary mr-2">Editar</a>
        <button class="btn btn-danger">Deletar</button>
      </td>
    </tr>
  </tbody>

</table>